@font-face {
  font-family: 'FuturaPTW01-Book';
  src: url('FuturaPTW01-Book.svg#FuturaPTW01-Book') format('svg'),
       url('FuturaPTW01-Book.ttf') format('truetype'),
       url('FuturaPTW01-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futura-pt-thin';
  src: url('futura-pt-thin.eot');
  src: url('futura-pt-thin.eot?#iefix') format('embedded-opentype'),
       url('futura-pt-thin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

